{% extends 'layout/default.html' %}
<!--  -->
{% from 'bootstrap5/form.html' import render_form %}
<!--  -->
{% block title %} eCOBIDAS - {{ protocol_pref_label }} {% endblock %}
<!--  -->
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3 class="my-3 text-center text-uppercase fw-bold">
        {{ protocol_pref_label }}
      </h3>
      {% include "protocols/side_nav.html" %}
    </div>

    <div class="col-sm-12 col-md-9">
      {% if landing_page %}
      <!--  -->
      {{ protocol_preamble|safe }}
      <!--  -->
      {{ landing_page|safe }} {% else %}
      <h3>{{ activity_pref_label }}</h3>
      <!--  -->
      {% if form %}
      <!--  -->
      {% set percent_completed = (completed_items/nb_items*100)|round|int %}
      <!--  -->
      {% set emoji = '' %}
      <!--  -->
      {% set progress_bar_color = 'danger' %}
      <!--  -->
      {% if percent_completed > 80 %} {% set progress_bar_color = 'success' %}
      <!--  -->
      {% elif percent_completed > 60 %} {% set progress_bar_color = 'info' %}
      <!--  -->
      {% elif percent_completed > 40 %} {% set progress_bar_color = 'secondary'
      %}
      <!--  -->
      {% elif percent_completed > 20 %} {% set progress_bar_color = 'warning' %}
      <!--  -->
      {% endif %}
      <!--  -->
      {% if completed_items == nb_items %} {% set emoji = '&#127881;'|safe %} {%
      endif %}
      <div
        class="progress border border-{{ progress_bar_color }} m-2"
        role="progressbar"
        aria-label="progress bar with label"
        aria-valuenow="{{ completed_items }}"
        aria-valuemin="0"
        aria-valuemax="{{ nb_items }}"
        style="height: 20px"
      >
        <div
          class="progress-bar bg-{{ progress_bar_color }} overflow-visible text-dark"
          style="height: 20px; width: {{ percent_completed }}%"
        >
          &nbsp; {{ completed_items }} / {{ nb_items }} items completed {{ emoji
          }}
        </div>
      </div>

      {% endif %}
      <!--  -->
      {{ activity_preamble|safe }}
      <!--  -->
      {% include "protocols/extra_forms.html" %}
      <!--  -->
      {% if form %}
      <div
        class="row border border-1 border-secondary rounded-2 overflow-scroll shadow d-flex justify-content-center m-3"
        style="height: 700px"
      >
        <div class="col-md-12 col-lg-12 p-3">{{ render_form(form) }}</div>
      </div>
      {% endif %}
      <!--  -->
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
