<div class="navbar-expand-sm mb-5">
  <ul class="nav flex-column nav-pills nav-fill">
    {% for act in activities %} {% set prefix = loop.index - 1 %}
    <li class="nav-item">
      <a class="{{ act['class'] }}" aria-current="page" href="{{ act['link'] }}"
        >{% if prefix > 0 %}{{prefix}} - {% endif %}{{ act['name'] }}</a
      >
    </li>
    {% endfor %}
    <!--  -->
    {% if show_export_button %}
    <li class="nav-item">
      <a
        href="{{ url_for('export') }}"
        type="button"
        class="btn btn-outline-primary my-1"
      >
        {{_("Export")}}
      </a>
    </li>
    <li class="nav-item">
      <a
        href="{{ url_for('generate.generate') }}"
        type="button"
        class="btn btn-outline-primary my-1"
      >
        {{_("Generate method")}}
      </a>
    </li>
    {% endif %}
  </ul>
</div>
