{% from 'bootstrap4/utils.html' import render_icon %}
<!--  -->
{% from 'bootstrap4/utils.html' import render_messages %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %} {% endblock %}</title>

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    {{ bootstrap.load_css() }} {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <script
      src="https://kit.fontawesome.com/bfb65bff1f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>{% include "layout/header.html" %}</header>
    <main>
      <div class="container">{% block main %} {% endblock %}</div>
    </main>
    <footer>{% include "layout/footer.html" %}</footer>
    <!-- you can delete the next line if you're not using any Bootstrap JS -->
    {{ bootstrap.load_js() }}
  </body>
</html>
