<div class="container mt-5">
  <div class="row d-flex m-0 p-0">
    <div
      class="col-md-12 col-lg-12 mx-lg-auto mx-md-auto my-2 bg-primary text-white d-flex justify-content-between align-items-center"
    >
      <p class="m-3">eCobidas</p>
      <p class="m-3 text-center">UI version: {{ version }}</p>
      <div class="d-flex">
        <a
          class="link-light mx-3"
          href="https://groups.google.com/d/forum/cobidas-checklist"
          target="_blank"
          aria-label="link to google group"
          >{{ render_icon('google') }}</a
        >
        <a
          class="text-light link-light mx-3"
          href="https://github.com/Remi-Gau/eCobidas"
          target="_blank"
          aria-label="link to github repo"
          >{{ render_icon('github') }}</a
        >
      </div>
    </div>
  </div>
</div>
