<link
  href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css"
  rel="stylesheet"
/>

<ul class="navbar-nav my-1 mx-3">
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle active"
      href="#"
      id="navbarDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Lang
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% for lang in config.LANGUAGES %} {% set tmp = config.LANGUAGES[lang] %}
      <li>
        <!-- prettier-ignore -->
        <a
        class="dropdown-item py-0"
          {% if request.endpoint=="protocol.protocol" %}
            href="{{ url_for(request.endpoint, protocol_name=request.view_args['protocol_name'], lang_code=lang) }}"
          {% elif request.endpoint=="protocol.activity_get" or request.endpoint=="protocol.activity_post" %}
            href="{{ url_for(request.endpoint,
                              protocol_name=request.view_args['protocol_name'],
                              activity_name=request.view_args['activity_name'],
                              lang_code=lang) }}"
          {% else %}
            href="{{ url_for(request.endpoint, lang_code=lang) }}"
          {% endif%}
          ><span class="flag-icon flag-icon-{{ tmp['flag_code'] }}"
          ><p class="mx-5">{{ tmp['display_name'] }}</p></span
          >
        </a>
        <!-- prettier-ignore -->
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>
