<link
  href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css"
  rel="stylesheet"
/>

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Lang
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
        <a
          class="dropdown-item"
          href="{{ url_for(request.endpoint, lang_code='fr') }}"
          ><span class="flag-icon flag-icon-fr"></span>Français</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="{{ url_for(request.endpoint, lang_code='en') }}"
          ><span class="flag-icon flag-icon-us"></span>English</a
        >
      </li>
    </ul>
  </li>
</ul>
